//  npx sass index.scss index.css

$total-images: 3;

body {
    margin: 0;
}

.app {
    height: 500vh;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
}

.frame {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.image {
    position: absolute;
    top: 200px;
    right: 200px;
    /* Adjusted to position images on the right side */
    width: 40%;
    /* Adjusted width to cover a small square on the right side */
    height: 40%;
    /* Adjusted height to cover a small square on the right side */
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Added to center the background within the image container */

    @for $i from 0 to $total-images {
        &.image_#{$i} {
            z-index: $i;
            background-image: url("../public/images/#{$i}.jpeg");
        }
    }
}

.image_visible {
    opacity: 1;
}